<div class="three_column-section">
  {% if section.settings.logo_icon %}
  <div class="icon-logo"><img src="{{ section.settings.logo_icon | img_url: "master" }}"></div>
  {% else %}
  <div class="icon-logo">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
  {% endif %}
  {% if section.settings.title %}
  <h3>{{ section.settings.title }}</h3>
  {% endif %}
  {% if section.settings.btn_title %}
  <div class="shop_link"><a href="{{ section.settings.btn_url }}">{{ section.settings.btn_title }}</a></div>
  {% endif %}
  <div class="column-section">
    {% for block in section.blocks %}
    {% if block.settings.image %}
    <div class="column-item">
      <img src="{{ block.settings.image | img_url:"master" }}">
    </div>
    {% else %}
    <div class="column-item">
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Three Column",
    "settings": [
		{
			"type": "image_picker",
			"id": "logo_icon",
			"label": "Logo Icon"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "btn_title",
			"label": "Button Title"
		},
		{
			"type": "url",
			"id": "btn_url",
			"label": "Button URL"
		}
	],
	"blocks": [
		{
			"type": "grid_item",
            "name": "Text Block",
            "limit": 3,
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Three Column",
			"blocks": [
              {
                "type": "grid_item"
              },
              {
                "type": "grid_item"
              },
              {
                "type": "grid_item"
              }
            ]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
