<div class="three_column-section">
  {% if section.settings.logo_icon %}
  <div class="icon-logo"><img src="{{ section.settings.logo_icon | img_url: "master" }}"></div>
  {% else %}
  <div class="icon-logo">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
  {% endif %}
  {% if section.settings.title %}
  <h3>{{ section.settings.title }}</h3>
  {% endif %}
  {% if section.settings.btn_title %}
  <div class="shop_link"><a href="{{ section.settings.btn_url }}" style="color: {{ section.settings.btn_color }};">{{ section.settings.btn_title }}<i class="loox-icon loox-right"></i></a></div>
  {% endif %}
  <div class="column-section">
    {% assign count = 0 %}
    {% for block in section.blocks %}
    {% assign count = count| plus: 1 %}
    {% if block.settings.image %}
    <div class="column-item">
      <img src="{{ block.settings.image | img_url:"master" }}">
    </div>
    {% else %}
    <div class="column-item">
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
<style>
  .three_column-section {
    padding: 15px 0;
    text-align: center;
  }
  .icon-logo {
    max-width: 100px;
  }
  .three_column-section img{
    display: block;
    width: 100%;
  }
  .column-section {
    display: flex;
    flex-wrap: wrap;
  }
  .column-item {
    width: 100%;
    padding: 0 15px;
  }
  {% if count == 2 %}
  .column-item {
    width: 50%;
  }
  {% elsif count == 3 %}
  .column-item {
    width: 33.333%;
  }
  @media(max-width: 767px){
    .column-item {
      width: 100%;
    }
  }
  {% endif %}
</style>
{% schema %}
  {
    "name": "Three Column",
    "settings": [
		{
			"type": "image_picker",
			"id": "logo_icon",
			"label": "Logo Icon"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Title"
		},
		{
			"type": "text",
			"id": "btn_title",
			"label": "Button Title",
			"default": "Shop"
		},
		{
			"type": "url",
			"id": "btn_url",
			"label": "Button URL"
		},
		{
			"type": "color",
			"id": "btn_color",
			"label": "Button Color"
		}
	],
	"blocks": [
		{
			"type": "grid_item",
            "name": "Image Block",
            "limit": 3,
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Three Column",
			"blocks": [
              {
                "type": "grid_item"
              },
              {
                "type": "grid_item"
              },
              {
                "type": "grid_item"
              }
            ]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
