<div class="image_des-section page-width">
  <div class="image_des-content">
    {% assign count = 0 %}
    {% for block in section.blocks %}
    {% assign count = count| plus: 1 %}
    <div class="image_des-item">
      <div class="bg-section">
        {% if block.settings.bg %}
        <img src="{{ block.settings.bg | img_url: "master" }}">
        {% else %}
        {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
        {% endif %}
      </div>
      <div class="des-section {{ block.settings.des_po }}">
        {% if block.settings.title %}
        <h1 style="color: {{ block.settings.title_color }}">{{ block.settings.title }}</h1>
        {% endif %}
        {% if block.settings.sub_title %}
        <h3 style="color: {{ block.settings.sub_color }}">{{ block.settings.sub_title }}</h3>
        {% endif %}
        {% if block.settings.btn_title1 or block.settings.btn_title2 %}
        <div class="link-section">
          {% if block.settings.btn_title1 %}
          <a href="{{ block.settings.btn_url1 }}" style="color: {{ block.settings.btn_color }}">{{ block.settings.btn_title1 }}<i class="arrow_right"></i></a>
          {% endif %}
          {% if block.settings.btn_title1 %}
          <a href="{{ block.settings.btn_url2 }}" style="color: {{ block.settings.btn_color }}">{{ block.settings.btn_title2 }}<i class="arrow_right"></i></a>
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<style>
  .image_des-section {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .image_des-content {
    display: flex;
  }
  .image_des-item {
    position: relative;
  }
  .image_des-item img {
    width: 100%;
    display: block;
  }
  {% if count == 2 %}
  .image_des-item {
    width: 50%;
  }
  {% endif %}
  .des-section {
    position: absolute;
    left: 50%;
    text-align: center;
  }
  .des-section.middle {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .des-section.top {
    top: 0;
    transform: translateX(-50%);
  }
  .link-section a {
    position: relative;
    display: inline-block;
    text-decoration: none;
  }
  .link-section a:last-child {
    margin-left: 30px;
  }
  .link-section a i{
    top: 11px;
  }
</style>
{% schema %}
  {
    "name": "Image & Text",
    "settings": [
	
	],
	"blocks": [
		{
			"name": "Image & Text",
			"type": "image_text",
			"limit": 2,
			"settings": [
				{
					"type": "image_picker",
					"id": "bg",
					"label": "Background Image"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "color",
					"id": "title_color",
					"label": "Title Color"
				},
				{
					"type": "text",
					"id": "sub_title",
					"label": "Sub Title"
				},
				{
					"type": "color",
					"id": "sub_color",
					"label": "Sub Title Color"
				},
				{
					"type": "text",
					"id": "btn_title1",
					"label": "Button Title"
				},
				{
					"type": "url",
					"id": "btn_url1",
					"label": "Button URL"
				},
				{
					"type": "text",
					"id": "btn_title2",
					"label": "Button Title"
				},
				{
					"type": "url",
					"id": "btn_url2",
					"label": "Button URL"
				},
				{
					"type": "color",
					"id": "btn_color",
					"label": "Button Color"
				},
				{
					"type": "select",
					"id": "des_po",
					"label": "Description Position",
					"default": "middle",
                    "options": [
                      {
                        "value": "top",
                        "label": "Top"
                      },
                      {
                        "value": "middle",
                        "label": "Middle"
                      },
                      {
                        "value": "bottom",
                        "label": "Bottom"
                      }
                    ]
				}
			]
		}
	],
	"presets": [
		{
			"name": "Image & Text",
			"blocks": [
              {
                "type": "image_text"
              },
              {
                "type": "image_text"
              }
            ]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
