<div class="text_image-section">
  {% if section.settings.header_title %}
  <h2 class="section-title">{{ section.settings.header_title }}</h2>
  {% endif %}
  <div class="text_image-container">
    {% for block in section.blocks %}
    <div class="text_image-item">
      {% if block.settings.image %}
      <img src="{{ block.settings.image | img_url: "master" }}">
      {% endif %}
      <h2>{{ block.settings.title }}</h2>
      <p>{{ block.settings.des }}</p>
      <a class="button" href="{{ block.settings.btn_url }}">{{ block.settings.btn_title }}</a>
    </div>
    {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Three Column Text & Image",
    "settings": [
		{
          "type": "text",
          "id": "header_title",
          "label": "Header Title",
          "default": "What makes our products special?"
        }
	],
	"blocks": [
		{
			"type": "text-columns-with-images",
			"name": "Text Columns With Images",
			"limit": 3,
			"settings": [
				{
					"type": "image_picker",
					"id": "image",
					"label": "Image"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "textarea",
					"id": "des",
					"label": "Description"
				},
				{
					"type": "url",
					"id": "btn_url",
					"label": "Button Url"
				},
				{
					"type": "text",
					"id": "btn_title",
					"label": "Button Title",
					"default": "Learn More"
				}
			]
		}
	],
	"presets": [
		{
			"name": "Three Column Text & Image",
			"blocks": [
              {
                "type": "text-columns-with-images"
              },
              {
                "type": "text-columns-with-images"
              }
            ]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
