<div class="page-travel">
  {% for block in section.blocks %}
    {% case block.type %}
          {% when "hero_section" %}
          <div class="hero-section">
            {% if block.settings.image %}
			<div class="bg_section">
              {% if block.settings.image %}
              <img class="desktop_img" src="{{ block.settings.image | img_url: "master" }}">
              {% endif %}
              {% if block.settings.mb_image %}
              <img class="mobile_img" src="{{ block.settings.mb_image | img_url:" master" }}">
              {% endif %}
            </div>
            {% endif %}
            <div class="hero_des {{ block.settings.vertical_align }} {{ block.settings.horizontal_align }}">
              <div class="hero_des-container">
                {% if block.settings.title %}
                <h1>{{ block.settings.title }}</h1>
                {% endif %}
                {% if block.settings.des %}
                <p>{{ block.settings.des }}</p>
                {% endif %}
                {% if block.settings.btn_title %}
                <a href="{{ block.settings.btn_url }}">{{ block.settings.btn_title }}</a>
                {% endif %}
              </div>
            </div>
          </div>
  		  {% when "text-columns-with-images" %}
  		  <div class="text_image-section">
            {% if block.settings.header_title %}
            <h2 class="section-title">{{ block.settings.header_title }}</h2>
            {% endif %}
            <div class="text_image-container">
              {% if block.settings.show_item1 %}
              <div class="text_image-item">
                {% if block.settings.image1 %}
                <img src="{{ block.settings.image1 | img_url: "master" }}">
                {% endif %}
                <h2>{{ block.settings.title1 }}</h2>
                <p>{{ block.settings.des1 }}</p>
                <a hef="{{ block.settings.btn_url1 }}">{{ block.settings.btn_title1 }}</a>
              </div>
              {% endif %}
              {% if block.settings.show_item2 %}
              <div class="text_image-item">
                {% if block.settings.image2 %}
                <img src="{{ block.settings.image2 | img_url: "master" }}">
                {% endif %}
                {% if block.settings.title2 %}
                <h2>{{ block.settings.title2 }}</h2>
                {% endif %}
                {% if block.settings.des2 %}
                <p>{{ block.settings.des2 }}</p>
                {% endif %}
                {% if block.settings.btn_title2 %}
                <a hef="{{ block.settings.btn_url2 }}">{{ block.settings.btn_title2 }}</a>
                {% endif %}
              </div>
              {% endif %}
              {% if block.settings.show_item3 %}
              <div class="text_image-item">
                {% if block.settings.image3 %}
                <img src="{{ block.settings.image3 | img_url: "master" }}">
                {% endif %}
                {% if block.settings.title3 %}
                <h2>{{ block.settings.title3 }}</h2>
                {% endif %}
                {% if block.settings.des3 %}
                <p>{{ block.settings.des3 }}</p>
                {% endif %}
                {% if block.settings.btn_title3 %}
                <a hef="{{ block.settings.btn_url3 }}">{{ block.settings.btn_title3 }}</a>
                {% endif %}
              </div>
              {% endif %}
            </div>
  		  </div>
  	{% endcase %}
  	<style>
      {% if block.settings.image %}
      .hero_des.middle {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
      .hero_des.top {
        position: absolute;
        top: 0;
        width: 100%;
      }
      .hero_des.bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
      }
      .hero_des.center {
        text-align: center;
      }
      .hero_des.right {
        text-align: right;
      }
      .bg_section img {
        display: block;
        min-height: 450px;
        object-fit: cover;
      }
      {% if block.settings.mb_image %}
      .bg_section img {
        min-height: auto;
      }
      .bg_section img.mobile_img {
        display: none;
      }
      @media(max-width: 767px) {
        .bg_section img.mobile_img {
          display: block;
        }
        .bg_section img.desktop_img {
          display: none;
        }
      }
      {% endif %}
      {% endif %}
	</style>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Travel Disinfectant Wipes",
    "settings": [
	],
	"blocks": [
		{
			"type": "hero_section",
			"name": "Hero Section",
			"settings": [
				{
					"type": "select",
					"id": "vertical_align",
					"label": "Vertical Position",
                    "default": "middle",
                    "options": [
                      {
                        "value": "top",
                        "label": "Top"
                      },
                      {
                        "value": "middle",
                        "label": "Middle"
                      },
                      {
                        "value": "bottom",
                        "label": "Bottom"
                      }
					]
					
				},
				{
					"type": "select",
					"id": "horizontal_align",
					"label": "Horizontal Position",
                    "default": "center",
                    "options": [
                      {
                        "value": "left",
                        "label": "Left"
                      },
                      {
                        "value": "center",
                        "label": "Center"
                      },
                      {
                        "value": "right",
                        "label": "Right"
                      }
					]
					
				},
				{
					"type": "image_picker",
					"id": "image",
					"label": "Hero Desktop Image"
				},
				{
					"type": "image_picker",
					"id": "mb_image",
					"label": "Hero Mobile Image"
				},
				{
					"type": "text",
					"id": "title",
					"label": "Title"
				},
				{
					"type": "textarea",
					"id": "des",
					"label": "Description"
				},
				{
					"type": "text",
					"id": "btn_title",
					"label": "Button Title"
				},
				{
					"type": "url",
					"id": "btn_url",
					"label": "Button Url"
				}
			]
		},
		{
			"type": "text-columns-with-images",
			"name": "Text Columns With Images",
			"settings": [
				{
					"type": "text",
					"id": "header_title",
					"label": "Header Title",
					"default": "What makes our products special?"
				},
				{
					"type": "checkbox",
					"id": "show_item1",
					"label": "Show Item1",
					"default":  true
				},
				{
					"type": "image_picker",
					"id": "image1",
					"label": "Image1"
				},
				{
					"type": "text",
					"id": "title1",
					"label": "Title1"
				},
				{
					"type": "textarea",
					"id": "des1",
					"label": "Description1"
				},
				{
					"type": "url",
					"id": "btn_url1",
					"label": "Button Url1"
				},
				{
					"type": "text",
					"id": "btn_title1",
					"label": "Button Title1",
					"default": "Learn More"
				},
				{
					"type": "checkbox",
					"id": "show_item2",
					"label": "Show Item2",
					"default":  true
				},
				{
					"type": "image_picker",
					"id": "image2",
					"label": "Image2"
				},
				{
					"type": "text",
					"id": "title2",
					"label": "Title2"
				},
				{
					"type": "textarea",
					"id": "des2",
					"label": "Description2"
				},
				{
					"type": "url",
					"id": "btn_url2",
					"label": "Button Url2"
				},
				{
					"type": "text",
					"id": "btn_title2",
					"label": "Button Title2",
					"default": "Learn More"
				},
				{
					"type": "checkbox",
					"id": "show_item3",
					"label": "Show Item3",
					"default":  true
				},
				{
					"type": "image_picker",
					"id": "image3",
					"label": "Image3"
				},
				{
					"type": "text",
					"id": "title3",
					"label": "Title3"
				},
				{
					"type": "textarea",
					"id": "des3",
					"label": "Description3"
				},
				{
					"type": "url",
					"id": "btn_url3",
					"label": "Button Url3"
				},
				{
					"type": "text",
					"id": "btn_title3",
					"label": "Button Title3",
					"default": "Learn More"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
